@font-face
{
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
       url('../fonts/SourceCodePro-Regular.woff') format('woff'),
       url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Regular.woff') format('woff'),
       url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'Source Serif Pro';
  src: url('../fonts/SourceSerifPro-Bold.woff2') format('woff2'),
       url('../fonts/SourceSerifPro-Bold.woff') format('woff'),
       url('../fonts/SourceSerifPro-Bold.ttf') format('truetype');
}

button
{
  background-color: lightgrey;
  border: none;
  border-radius: 0.25em;
  font-size: inherit;
  padding: 0.25em 0.5em;
  text-align: center;
  text-decoration: none;
  transition: background 0.5s;
}

button:active
{
  background-color: lightblue;
}

button:focus
{
  background-color: lightblue;
  outline: none;
}

button:hover
{
  background-color: lightblue;
}

code, kbd, pre, samp, var
{
  font-family: 'Source Code Pro', monospace;
  /*font-size: 1em;*/
}

form
{
  width: auto;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Source Serif Pro', serif;
}

html
{
  font-size: 1.4em;
}

input
{
  border: none;
  border-bottom: solid 0.01em grey;
  font-size: inherit;
  transition: border 0.5s;
  padding: 0.25em 0;
  text-decoration: none;
  width: 50%;
}

input:focus
{
  border: none;
  border-bottom: solid 0.01em lightblue;
  outline: none;
}

/* TRY THIS: http://codepen.io/lorenzodianni/pen/ByXMYB */
/* google */
input[type="radio"]
{
  display: none;
}
input[type="radio"] + label
{
  position: relative;
  cursor: pointer;
  padding-left: 1.25em;
}
input[type="radio"] + label:before, input[type="radio"] + label:after
{
  position: absolute;
  top: 50%;
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type="radio"] + label:before
{
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #1565C0;
  -moz-box-shadow: inset 0 0 0 13px #E0E0E0;
  -webkit-box-shadow: inset 0 0 0 13px #E0E0E0;
  box-shadow: inset 0 0 0 13px #E0E0E0;
}
input[type="radio"]:checked + label:before {
  -moz-box-shadow: inset 0 0 0 5px #E0E0E0;
  -webkit-box-shadow: inset 0 0 0 5px #E0E0E0;
  box-shadow: inset 0 0 0 5px #E0E0E0;
}

main
{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  max-width: 40em;
}

.flex-container
{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.flex-2
{
  flex: 1;
  flex-basis: 18em;
  background: tomato;
  color: white;
  padding: 0 1em;
}
