@font-face{
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2'),
       url('../fonts/SourceCodePro-Regular.woff') format('woff'),
       url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Regular.woff') format('woff'),
       url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  src: url('../fonts/SourceSerifPro-Bold.woff2') format('woff2'),
       url('../fonts/SourceSerifPro-Bold.woff') format('woff'),
       url('../fonts/SourceSerifPro-Bold.ttf') format('truetype');
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  margin: 0;
}

code,
kbd,
pre,
samp,
var{
  font-family: 'Source Code Pro', monospace;
}

fieldset{
  border: solid 1px #616161;
}

fieldset legend{
  font-size: 80%;
}

form{
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Source Serif Pro', serif;
}

html{
  background-color: #FAFAFA;
  box-sizing: border-box;
  color: #212121;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

input,
textarea{
  background-color: transparent;
  border: none;
  font: inherit;
  padding: 0.25em;
}

  input:disabled,
  textarea:disabled{
    color: #9E9E9E;
  }

  input:focus,
  textarea:focus{
    outline: none;
  }

input + label,
textarea + label{
  font-size: 80%;
  padding-left: 0.25em;
  transition: 0.5s;
}

  input:disabled + label,
  textarea:disabled + label{
    color: #9E9E9E;
  }

  input:focus + label,
  textarea:focus + label{
    color: #2196F3;
    transition: 0.5s;
  }

/* FILLABLE FIELDS */
input[type^=date],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea{
  display: block;
  border-bottom: solid 1px #616161;
  width: 100%;
  transition: 0.5s;
}

  input[type^=date]:focus,
  input[type=email]:focus,
  input[type=month]:focus,
  input[type=number]:focus,
  input[type=password]:focus,
  input[type=range]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=text]:focus,
  input[type=time]:focus,
  input[type=url]:focus,
  input[type=week]:focus,
  textarea:focus{
    border-bottom: solid 1px #2196F3;
    transition: 0.5s;
  }

input[type=password]{
  font-family: "Source Code Pro", fixed;
}

input[type=button],
input[type=reset],
input[type=submit]{
  background-color: #FFFFFF;
  border: solid 1px #616161;
  color: #616161;
  padding: 0.25em 0.5em;
  text-align: center;
  transition: 0.5s;
}

  input[type=button]:focus,
  input[type=reset]:focus,
  input[type=submit]:focus,
  input[type=button]:hover,
  input[type=reset]:hover,
  input[type=submit]:hover{
    background-color: #2196F3;
    color: #FFFFFF;
    transition: 0.5s;
  }

input[type=checkbox] + label,
input[type=radio] + label{
  font-size: 100%
}

input[type=color]:focus + label,
input[type=file]:focus + label,
input[type=image]:focus + label{
  color: #2196F3;
}

kbd{
  background: #E0E0E0;
  border-radius: 0.25em;
  padding: 0 0.25em;
}

main{
  margin: 0 auto;
  max-width: 40em;
  padding: 1em;
}

mark{
  background-color: rgba(#ffeb3b, 0.54);
}

section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

table, td, th{
  border: 1px solid #616161;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  padding: 0.25em 1em;
}

thead{
  background-color: #9E9E9E;
}

/* MOBILE STYLES */

article{
  flex-basis: 100%;
  padding: 1em;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #f1f1f1;
}

nav ul li a{
  text-align: left;
  float: none;
  padding: 0.5em;
  color: #000;
  text-decoration: none;
}

  nav ul li a:hover:not(.active),
  nav ul li a.active{
    color: purple;
    border-bottom: none;
    border-right: none;
  }

/* DESKTOP STYLES */

@media screen and (min-width: 800px){
  article{
    flex: 1;
  }

  nav ul{
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  nav ul li a{
    border-right: 2px solid #f1f1f1;
    height: auto;
    display: block;
    padding-right: 1em;
  }

    nav ul li a:hover:not(.active),
    nav ul li a.active {
      color: black;
      border-bottom: none;
      border-right: 2px solid #2196F3;
    }


  /* flex fractions */
  .one-sixth{
    flex: calc(1 / 6);
  }

  .one-quarter{
    flex: 0.25;
  }

  .one-third, .two-sixth{
    flex: calc(1 / 3);
  }

  .two-quarter, .one-half, .three-sixth{
    flex: 0.5;
  }

  .two-third, .four-sixth{
    flex: calc(2 / 3);
  }

  .three-quarter{
    flex: 0.75;
  }

  .five-sixth{
    flex: calc(5 / 6);
  }

}

/* TABLET STYLES */

@media screen and (max-width: 1200px) and (min-width: 400px){
  nav ul{
    width: 100%;
    height: auto;
    position: fixed;
  }

  nav ul li a {
    border-bottom: 2px solid #f1f1f1;
    border-right: 2px;
    float: left;
    padding: 0.5em;
  }
  nav ul li a:hover:not(.active),
  nav ul li a.active {
    color: green;
    border-bottom: 2px solid #2196F3;
    border-right: none;
  }
}
